:root {
    --primary: #1ed760;
    --secondary: #1be7ff;
    --yellow: #ffdd57;
    --golden: #e8aa14;
    --orange: #ff5714;
    --white: #ffffff;
    --black: #07070A;
    --gray: #212326;
}

::selection {
    color: var(--black);
    background-color: var(--primary);
}

@font-face {
    font-family: 'IcoFont';
    src: local('icofont'),
        url('./icofont/icofont.woff2') format('woff2'),
        url('./icofont/icofont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;ver=5.5.1');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

.module {
    padding: 20px;
    margin-bottom: 30px;
}

.module .columns {
    align-items: center;
}

.module h3 {
    font-weight: bold;
    font-size: larger;
}

.module .description {
    margin-top: 10px;
}

.module img {
    border-radius: 10px;
    padding: 20px;
}

.module figure {
    border: 3px solid var(--primary);
    border-radius: 100px;
}

.center-image {
    text-align: -webkit-center;
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buy a {
    display: inline-flex;
    align-items: center;
    align-self: center;
    border-radius: 6px;
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    padding: 18px 20px;
    min-height: 64px;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    background-color: var(--primary);
    bottom: 0px;

}

.color-white {
    color: var(--white);
}

.visible-answer {
    display: block;
}

.invisible-answer {
    display: none;
}

.card-header:hover {
    cursor: pointer!important;
}

.card {
    background-color: var(--black)!important;
    color: var(--white)!important;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.card-header-title {
    color: var(--white)!important;
}

.video {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #15151b;
}

.video .title {
    text-align: center;
    color: var(--white);
    font-size: 5rem;
}

.video .desktop-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

@media (max-width: 768px) {
    .video .desktop-media {
        width: 90vw;
    }
}

.title .bolsa {
    color: #103873;
}

.title .na {
    color: var(--white);
}